@font-face {
  font-family: 'Titillium';
  font-style: 'normal';
  font-display: 'swap';
  font-weight: 400;
  src: local('Titillium'), local('Titillium-Regular'), url(./fonts/TitilliumWeb-Regular.ttf) format('woff2');
}

@font-face {
  font-family: 'Titillium-Bold';
  src: local('Titillium-Bold'), url(./fonts/TitilliumWeb-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Titillium-SB';
  src: local('Titillium-SB'), url(./fonts/TitilliumWeb-SemiBold.ttf) format('truetype');
}

body {
  margin: 0;

  font-family: 'Titillium';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiInputBase-root{
  width: 100%;
}

.MuiInputBase-input{
  font-family: 'Titillium' !important;
  font-size: 14px !important;
  color: #81838C !important;
}

.MuiDrawer-paperAnchorDockedLeft{
  border-right: 1px solid #D9E1EC !important;
  z-index: 0 !important;
  margin-top: 68px;
  width: 240px;
}

.css-yk16xz-control{
  min-height: 48px !important;
}